@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

nav{
    position: relative;

    display: flex;
    height: 3rem;
    justify-content: space-between;
    
    background-color: rgb(3, 3, 3);

    font-size: large;
    font-family: "Poppins", sans-serif;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{
    display: flex;
}

nav ul li a{
    position: relative;

    height: 100%;
    line-height: 3rem;

    display: block;
    padding: 0 0.5rem;

    color: white;
    text-decoration: none;

    transition: 0.3s;
}

nav ul li a::after{
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 0.175rem;

    content: '';

    background-color: white;

    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.5s ease;
}

nav ul li a:hover::after{
    transform: scale(1, 1);
}

main{
    font-family: 'Roboto', sans-serif;
}

.main-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 65vh;
    
    background-color: rgb(3, 3, 3);

    color: white;
}

.main-hero h1{
    margin: 0 0 5vh 0;

    font-size: 4rem;
    font-family: 'Poppins', sans-serif;

    transition: 0.4s;
}

.main-hero-nav{
    display: flex;

    line-height: 10vh;

    width: 25vw;
    height: 10vh;
    
    border-radius: 50px;

    background-image: linear-gradient(to right, rgb(255, 165, 46), rgb(255, 37, 175));

    justify-content: space-between;

    transition: 0.3s;
}

.main-hero-nav form input{
    width: 7vw;
    height:  8vh;

    margin: 1vh 0.5vw 0 0.5vw;

    font-size: 1.25rem;
    font-weight: bold;

    color: black;
    background-color: rgb(252, 252, 252);

    border-radius: 50px;
    border: none;

    cursor: pointer;

    transition: 0.3s;
}

.main-hero-nav form input:hover{
    transform: scale(1.025);

    color: rgb(252, 252, 252);
    background-color: rgb(0, 0, 0);
}

.main-content{
    display: flex;

    width: 100%;
    height: 75vh;

    justify-content: space-between;
}

.lesson-box{
    position: relative;

    margin: 5vh auto;

    height: 65vh;
    width: 30vw;

    color: white;
    background-color: rgb(22, 22, 22);

    border-radius: 20px;

    overflow: hidden;
    
    transition: 0.3s;
}

.lesson-box:hover{
    transform: scale(1.025);
}

.lesson-box::before{
    position: absolute;
    
    content: '';

    width: 100%;
    height: 0.75rem;

    top: 0;
    left: 0;

    background-image: var(--lesson-gradient);
}

#gradient-purple-blue{
    --lesson-gradient: linear-gradient(to right, rgb(110, 52, 218), rgb(78, 156, 234));
}

#gradient-orange-pink{
    --lesson-gradient: linear-gradient(to right, rgb(251, 137, 30), rgb(255, 50, 238));
}

#gradient-blue-green{
    --lesson-gradient: linear-gradient(to right, rgb(64, 166, 255), rgb(109, 255, 135));
}

.lesson-box-title{
    display: flex;
    
    width: 100%;
    height: 40vh;

    color: rgb(255, 255, 255);

    background-position: center;
    background-size: cover;

    margin: 0 auto;

    font-family: 'Poppins', sans-serif;
}

.lesson-box-title h1{
    margin: 10vh auto;
    
    font-size: 2.5rem;
}

#html{
    background-image: url(../images/htmlImage.png);
}

#lua{
    background-image: url(../images/luaImage.jpg);
}

#python{
    background-image: url(../images//pythonImage.jpg);
}

.lesson-box-content{
    display: flex;
}

.lesson-box-content form{
    margin: 5vh auto;
}

.lesson-box-content form input{
    width: 12.5vw;
    height: 10vh;

    color: white;
    background-color: rgb(70, 74, 206);

    font-size: 1.75rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

    border-radius: 50px;
    border: none;

    cursor: pointer;

    transition: 0.3s;
}

.lesson-box-content form input:hover{
    background-color: rgb(34, 39, 172);
    transform: scale(1.025);
}

/* -- Sign Up Page -- */

.signup-main{
    height: 105vh;
    width: 100%;
}

.signup{
    position: relative;

    overflow: hidden;

    margin: 5vh auto;

    width: 40vw;
    height: 100vh;

    color: rgb(0, 0, 0);    
    background-color: rgb(252, 252, 252);

    box-shadow: 0px 0px 10px inset rgb(90, 90, 90);
}

#SignupForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#SignupForm h1{
    margin: 5vh;

    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}

.textBox{
    display: flex;
    flex-direction: column;
    align-items: center;

    outline: none;

    margin: 5vh;

    transition: 0.3s;
}

.textBox:hover{
    transform: scale(1.025);
}


.textBox label{
    font-size: 1.25rem;
    font-weight: bold;

    margin-bottom: 2.5vh;
}

.textBox input{
    height: 4vh;
    width: 17.5vw;

    border: none;    
    border-bottom: solid 2px rgb(0, 0, 0);

    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.textBox input:focus{
    outline: none;
}

.textBox input::placeholder{
    color: rgb(0, 0, 0);
}

.button input{
    margin: 5vh;

    width: 10vw;
    height: 7.5vh;

    border: none;
    border-radius: 50px;

    font-size: 1.25rem;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;

    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);

    border: solid 2px rgb(0, 0, 0);

    cursor: pointer;

    transition: 0.3s;
}

.button input:hover{
    transform: scale(1.05);

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.signup::before{
    content: '';

    position: absolute;

    top: 0;
    left: 0;

    width: inherit;
    height: 1.5vh;

    background-image: linear-gradient(to right, rgb(110, 52, 218), rgb(78, 156, 234));
}

.signup::after{
    content: '';

    position: absolute;

    bottom: 0;
    left: 0;

    width: inherit;
    height: 1.5vh;

    background-image: linear-gradient(to right, rgb(251, 137, 30), rgb(255, 50, 238));
}